{% extends 'users/base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="pt-4 col-md-9">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2 class="mr-2">About Us</h2>
                    </div>
                    <p class="article-content">
                        We are an IT startup based in Silicon Valley, California and this website helps you submit
                        issues and bugs in our software and talk to an expert about the problem.
                    </p>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %}