{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <header>
        <h2>{{ ticket.title }}</h2>
    </header>
    <main>
        <div style="overflow-y: scroll;height: 500px;">
            {% for message in ticket.chat %}
            <div style="border: 1px solid black; border-radius:10px; padding:20px; margin:10px;">
                <h4 {% if message.sender !='admin' %} style="color:#55f" {% endif %}>{{ message.sender }}</h4>
                <br>
                <p>{{ message.text }}</p>
                {% if message.attached_file_url %}
                <a href="{{ message.attached_file_url }}">Open Attachment</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div style="padding:20px; margin:10px;">
            <form enctype="multipart/form-data" method="post"> {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">New</legend>
                    {{ new_message_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock %}